<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCvHCEiXL1Kf-mf_FGHnsd5Ld0Z6Au1EFY",
    authDomain: "billysfruits.firebaseapp.com",
    databaseURL: "https://billysfruits.firebaseio.com",
    projectId: "billysfruits",
    storageBucket: "",
    messagingSenderId: "768975948591",
    appId: "1:768975948591:web:de1b4ead2a4c547a1b6fda",
    measurementId: "G-WZMYD2Y337"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  <div class='center'>
    <div class='title'>Classify Billys Favorite Fruits Images 🍌🍎🍓🍒🍐🍉🍇</div>
    <p>
<!--       Use images of <strong>Banana</strong> bears, <strong>black</strong> bears, <strong>grizzly</strong> bears, or
      all three! -->
      Use images of <strong>Banana</strong>, <strong>Apple</strong>, <strong>Grapes</strong>, or
      any fruit!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
